<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408540995075-d6rk4s2f02kucd183h84j9rmj5au24ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408540995075-d6rk4s2f02kucd183h84j9rmj5au24ge</string>
	<key>API_KEY</key>
	<string>AIzaSyBdYT0dObkSMfa8sVgRTwW9zf1M73pC3Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>408540995075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-1bfcf</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-1bfcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408540995075:ios:a7bc60389ec5649b72b836</string>
</dict>
</plist>